<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-titulo%>
    <meter value=<%nivel%> max=<%-max%> min=<%-min%>/>

        <h1>Agregar Personas</h1> 

        

            <form action="/personas" method="post">
                <input type="text" name="nombre"/>
                <input type="text" name="apellido"/>
                <input type="text" name="edad"/>
                <button type="submit">Enviar</button>

            </form>

            <hr/>

            <table>
                <thead>
                    <th>Nombre</th>
                    <th>apellido</th>
                    <th>edad</th>
                </thead>
                <tbody>
                    <% personas.forEach((personas))=> { %>
                        <tr>
                            <td><%= persona.nombre %></td>
                            <td><%= persona.apellido %></td>
                            <td><%= persona.edad %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

        
<footer>
    <%- include('../partials/footer.ejs'); %>   
</footer>


</body>
</html>