<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persopnas</title>
</head>
<body>

        <h1>Agregar Producto</h1> 
              <form action="/api/ejs/personas" method="post">
                <input type="text" name="titulo" placeholder="Nombre del Producto"/>
                <input type="text" name="imagen"placeholder="url"/>
                <input type="number" name="precio"placeholder="precio"/>
                <button type="submit">Enviar</button>

            </form>


            <hr/>
            <% if (data.length) { %>
            <table>
                <thead>
                    <th>Id</th>
                    <th>Nombre del producto</th>
                    <th>Precio</th>
                    <th>Url</th>
                </thead>
                <tbody>
                    
                    <% data.forEach((data)=> { %>
                        <tr>
                            <td><%= data.id %></td>
                            <td><%= data.titulo %></td>
                            <td>$<%= data.precio %></td>
                            <td><img src=<%= data.url %>></td>
                        </tr>
                        
                    <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <p>No hay datos</p>
              <% } %>
                
              <form action="./lista">
                  <button type="submit">Redireccionar</button>
              </form>


<footer>
    <%- include('../partials/footer.ejs'); %>   
</footer>


</body>
</html>