<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de producto</title>
</head>
<body>  
    <h1>Lista de productos</h1>


            <hr/>
            
            <table>
                <thead>
                    <th>Id</th>
                    <th>Nombre del producto</th>
                    <th>Precio</th>
                    <th>Url</th>
                </thead>
                <tbody>
                    
                    <% data.forEach((data)=> { %>
                        <tr>
                            <td><%= data.id %></td>
                            <td><%= data.titulo %></td>
                            <td><%= data.precio %></td>
                            <td><img src=<%= data.url %>></td>
                        </tr>
                        
                    <% }) %>
                </tbody>
            </table>
          
              <form action="./formulario">
                  <button type="submit">Redireccionar</button>
              </form>


<footer>
    <%- include('../partials/footer.ejs'); %>   
</footer>


</body>
</html>