
<h1 class="titulo">Lista de productos</h1>

<div class="productos">
  <div id="product" class="listaProductos">
    {{#if existe}}
      <div class="tarjetas">
        {{#each informacionProducto}}
          <div class="tarjeta">
            <img class="img-small" src={{this.thumbnail}} alt="img">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Estado: {{this.status}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Código: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <button class="comprar-btn" data-product-id="{{this._id}}">Comprar</button>
          </div>
        {{/each}}
      </div>
    {{else}}
      <h1>No existen datos</h1>
    {{/if}}
  </div>
</div>


