<div class="container">
  <h1>Agregar Productos</h1>

  <div class="formularioProducto">
    <form id="form" onsubmit="">
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Nombre del Producto"
        required
      />
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Descripción"
        required
      />
      <input
        type="text"
        class="form-control"
        id="status"
        placeholder="Estado"
        required
      />
      <input
        type="text"
        class="form-control"
        id="category"
        placeholder="Categoría"
        required
      />
      <input
        type="text"
        class="form-control"
        id="code"
        placeholder="Código"
        required
      />
      <input
        type="number"
        class="form-control"
        id="stock"
        placeholder="Stock"
        required
      />
      <input
        type="text"
        class="form-control"
        id="thumbnail"
        placeholder="URL"
        required
      />
      <input
        type="number"
        class="form-control"
        aria-label="Amount (to the nearest dollar)"
        id="price"
        placeholder="Precio"
        required
      />
      <button type="submit" class="btn btn-primary" id="boton1">Cargar Producto</button>
    </form>
  </div>

  <div class="boton-footer">
    <a href="/" class="btn btn-primary">Tienda</a>
  </div>
</div>

        <div
          class="alert alert-danger"
          id="PermisosAlert"
          style="display: none;"
        >
          No tiene permisos!
        </div>

 <!-- Tabla de productos -->
<table class="table table-bordered mt-5 bg-white" style="margin-left: 20px; margin-right: 20px;">
    <thead>
      <tr>
        <th scope="col">Nombre de Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">owner</th>
        <th scope="col">Eliminar</th>

      </tr>
    </thead>
    <tbody>
      {{#each productos}}
      <tr>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td>{{stock}}</td>
        <td>{{owner}}</td>
         <td>
          <button
            class="btn btn-danger btn-sm btn-borrar-producto"
            data-product-id="{{this._id}}"
          >Borrar</button>
        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script src="js/agregarProductos.js"> </script>