html 
    head 
        title=titulo 
    body 

        h2 Agregar producto

        form(action='/', method='POST')
            p
                | Titulo: 
                input(type='text', name='titulo', value='')
                |          Precio: 
                input(type='number', name='precio', value='')
                |          Url: 
                input(type='text', name='imagen', value='')
            input(type='submit', value='Enviar')













        h3=existe
            if  existe == true
            table
                tr
                th Id |
                th Nombre del producto
                th Precio
                th Url
                tr

                each info in informacionProducto
                    tr
                    td=info.id
                    td=info.titulo
                    td=info.precio
                    td=info.url
                    tr
                else
                    h3=mensaje


