    <h1>Agregar Producto</h1> 


        <div class="formularioProducto">
              <form onsubmit="return enviarProducto()">
                <input type="text"class="form-control" id="titulo" placeholder="Nombre del Producto" required/>
                <input type="text"class="form-control" id="imagen"placeholder="url" required/>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="precio"placeholder="precio" required/>
                <button type="submit" class="btn btn-primary" >Cargar Producto</button>
                </form>
        </div>     

        <dir id="products">
 {{#if existe}}
            <table>
                <thead>
                    <th>Id</th>
                    <th>Nombre del producto</th>
                    <th>Precio</th>
                    <th>Url</th>
                </thead>
                <tbody>
                    
                      {{#each informacionProducto}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.titulo}}</td>
                            <td>{{this.precio}}</td>
                            <td><img src={{this.url}}></td>
                        </tr>
                        
                    {{/each}}
                  
                </tbody>
            </table>
            {{else}}

            <h1>No existen datos</h1>
            {{/if}}

        </dir>


            <hr/>
            <hr>
            <h2>Chat  </h2>
            <div>
                 <div id="messages"></div>
                    <form onsubmit="return enviarMensaje()">
                    <input type="text" id="author" placeholder="Correo Electronico" required/>
                    <input type="text" id="text" placeholder="Mensaje"/>
                    <button type="submit">Enviar mensaje</button>
                    </form>
            </div>
           


















           