    <h1>Agregar Producto</h1> 
              <form action="/api/handlebars" method="post">
                <input type="text" name="titulo" placeholder="Nombre del Producto"/>
                <input type="text" name="imagen"placeholder="url"/>
                <input type="number" name="precio"placeholder="precio"/>
                <button type="submit">Enviar</button>

            </form>


            <hr/>
            {{#if existe}}
            <table>
                <thead>
                    <th>Id</th>
                    <th>Nombre del producto</th>
                    <th>Precio</th>
                    <th>Url</th>
                </thead>
                <tbody>
                    
                      {{#each informacionProducto}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.titulo}}</td>
                            <td>{{this.precio}}</td>
                            <td><img src={{this.url}}></td>
                        </tr>
                        
                    {{/each}}
                  
                </tbody>
            </table>
            {{else}}

            <h1>No existen datos</h1>
            {{/if}}

